

.spinner {
  margin-top: 8em;
}
  .temperature-details {
    text-align: center;
  }
  #summary {
    text-align: center;
    margin-top: 1em;
  }

.col.graph-btn-col {
  padding: 0;
  margin: 10px auto 0;
  border: 1px solid #ddd;
}

.graph-btn {
  width: 100%;
}

#temperature {
  font-size: 48px;
  line-height: 1em;
  vertical-align: .15em;
}

#degree-units {
  vertical-align: top;
  cursor: pointer;
}

#summary h6 {
  margin-top: .05em;
  white-space: nowrap;
}

.forecast-day {
  border: 1px solid #efefef;
}

.high-temp,
.low-temp {
  margin: 0;
  padding: 0;
}

.location-warning {
  line-height: .75em;
}

.logo-wu {
  width: 120px;
}
